.form_container {
  margin: 25px;

  h3 {
    font-weight: 600;
    margin-bottom: 40px;
  }

  .input_container {
    position: relative;
    margin-bottom: 15px;

    input {
      padding: 15px 10px 15px 45px;
      border: none;
      background-color: #fafafa;
      border-radius: 15px;
      border: 2px solid #fafafa;

      &:focus {
        box-shadow: none;
        border: 2px solid #70d7a7;
        background-color: #ebfaf3;
      }
    }

    svg {
      position: absolute;
      top: 20px;
      left: 15px;
    }
  }

  .submit_btn {
    background-color: #01b764;
    border-color: #01b764;
    border-radius: 25px;
    width: 100%;
    margin-top: 20px;
  }

  .error {
    color: #834956;
    background-color: #f7d7d9;
    font-size: 12px;
    margin: 0;
    border-radius: 10px;
    padding: 7px 25px;
  }
}

.message_container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border: 2px solid #dadada;
  border-radius: 20px;
  max-width: 700px;
  margin: 30px auto 75px auto;
  padding: 15px;

  .img_container {
    width: 40%;
    margin: auto;
    max-width: 200px;

    img {
      display: block;
      width: 100%;
    }
  }

  p {
    text-align: center;
    color: #4e4f58;

    strong {
      display: block;
      font-size: 24px;
      margin-bottom: 10px;
      color: black;
      letter-spacing: 1px;
    }
  }

  .link {
    margin: auto;
    text-align: center;
    padding: 10px;
    color: #198754;
    border: 1px solid #198754;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .logout_btn {
    width: 25%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .message_container {
    margin: 30px 25px 75px 25px;
  }
}
