.container {
  margin: 25px;

  .headline {
    display: flex;
    justify-content: space-between;

    h3,
    p {
      font-size: 21px;
      font-weight: 600;
    }
  }

  .cart_title {
    display: flex;
    justify-content: space-evenly;

    h4 {
      font-size: 14px;
      color: #616161;
      margin: 5px;
    }
  }

  .items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b5b2b2;
    border-radius: 10px;

    .cart_item {
      display: flex;
      align-items: center;

      h5 {
        font-weight: 600;
      }

      h5,
      p {
        margin: 0;
        font-size: 16px;
      }

      button {
        background-color: transparent;
        border: none;
        font-size: 22px;
        margin: 0 15px;
      }

      .img_container {
        background-color: #f8f8f8;
        border-right: 1px solid #b5b2b2;
        border-radius: 10px;
        margin-right: 15px;

        img {
          display: block;
          max-width: 75px;
          max-height: 75px;
        }
      }
    }
  }
}
