.lang_btn {
  margin-right: 15px;
  padding: 5px 10px;
}

.navbar-brand {
  margin: 0;
}

.btn-primary {
  --bs-btn-bg: transparent;
}

.welcome_msg {
  color: var(--bs-nav-link-color);
  font-size: var(--bs-nav-link-font-size);
}

.cart {
  padding: 6px 12px;
  border: 1px solid #198754;
  color: #198754;
  border-radius: 5px;
}

.cart:hover {
  background-color: #198754;
  color: white;
}
