.special {
  h3 {
    margin: 10px 30px;
  }

  hr {
    width: 95%;
    margin: auto;
  }
}

.special_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.special_wrapper {
  min-width: 250px;
  margin: 10px 15px;
  text-decoration: none;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }

  .special_card {
    border: none;

    .img_container {
      background-color: #f8f8f8;
      border-radius: 25px;
      overflow: hidden;
      width: 250px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .special_card_title {
      font-size: 22px;
      font-weight: 500;
      text-align: center;
    }

    .special_card_text {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px;
      color: #616161;

      span {
        font-size: 20px;
        color: #616161;

        .old_price {
          text-decoration: line-through;
          margin-right: 10px;
        }

        svg {
          margin-right: 10px;
        }

        &:last-of-type {
          color: #01b764;
          font-weight: 600;

          .old_price {
            color: #afafaf;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .special_wrapper {
    min-width: 200px;

    .special_card {
      .img_container {
        width: 200px;
        height: 200px;
      }

      .special_card_title {
        font-size: 18px;
      }

      .special_card_text {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
        color: #616161;

        span {
          font-size: 18px;
          font-weight: 400;

          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
