:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primaryBgColor: #066f14;
  --primaryTextColor: black;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
